body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    background-color: #ff8c00;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    color: #ff6347;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-right: 40px;
    width: 80%;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li strong {
    color: #333;
}

p {
    color: #666;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
}

.error {
    color: #ff4d4f;
    background-color: #fff1f0;
    padding: 15px;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(255, 77, 79, 0.2);
}

/* Estilos para la estructura de las dos columnas */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin-top: 20px;
    padding: 20px; /* Añadí padding para separar el contenedor de los bordes de la página */
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho del contenedor */
}

/* Estilos para el formulario común (API Key) */
.api-key-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px;
    width: 60%; /* Aumenta el ancho del contenedor */
    padding: 20px; /* Añade más espacio alrededor del contenido */
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Estilos para las columnas */
.column {
    width: 50%;
    padding: 30px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho de la columna */
}

/* Estilos para el formulario de la izquierda (Programa actual) */
.left-column {
    background-color: #f9f9f9;
}

/* Estilos para el formulario de la derecha (Programa de varios hashes) */
.right-column {
    background-color: #f1f1f1;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.long-input {
    width: 300px; /* Puedes ajustar este valor */
    margin-bottom: 10px;
}

/* Estilos adicionales para colorear los elementos */
.blockchain { color: #b4b217; } /* Amarillo */
.usd-amount { color: #17b843; font-weight: bold; } /* Verde */
.date { color: #75115a; font-weight: bold; } /* Morado */