<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash Query Programs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Título principal -->
    <h1>Find destination addresses from FixedFload, SimpleSwap and ChangeNow</h1>

    <!-- Formulario para el campo de la API Key (se envía en ambos formularios) -->
    <div class="api-key-container">
        <label for="api_key">Enter the Arkham API key:</label><br>
        <input type="text" id="api_key" name="api_key" placeholder="Your API Key" required>
    </div>

    <!-- Contenedor de las dos columnas (Programa actual y nuevo programa) -->
    <div class="container">

        <!-- Columna izquierda: Programa actual (Single Hash) -->
        <div class="column left-column">
            <h2>Single Hash Query</h2>
            <form action="{{ url_for('index') }}" method="POST" onsubmit="return submitWithApiKey(this);">
                <label for="hash">Enter the hash:</label>
                <input type="text" id="hash" name="hash" placeholder="e.g., 0x123abc..." required>
                <input type="submit" value="Submit">
            </form>

            <!-- Mostrar resultados en la columna izquierda -->
            <hr>
            {% if hash_data %}
                <h3>Hash introduced info</h3>
                <ul>
                    {% for blockchain, data in hash_data.items() %}
                    <li>
                        <strong class="blockchain">Blockchain: {{ blockchain }}</strong><br>
                        {% if blockchain == 'bitcoin' %}
                            <strong>Transaction Hash:</strong> {{ data.get('txid', 'N/A') }}<br>
                            <strong>To:</strong> {{ data['outputs'][0]['address']['address'] if data.get('outputs') else 'N/A' }}<br>
                            <strong>Amount:</strong> {{ data.get('outputValue', 'N/A') }} BTC = <span class="usd-amount">{{ data.get('outputUSD', 'N/A') }} USD</span><br>
                        {% else %}
                            <strong>Transaction Hash:</strong> {{ data.get('hash', 'N/A') }}<br>
                            <strong>From:</strong> {{ data.get('fromAddress', 'N/A') }}<br>
                            <strong>To:</strong> {{ data.get('toAddress', 'N/A') }}<br>
                            <strong>Amount:</strong> {{ data.get('unitValue', 'N/A') }} {{ data.get('tokenSymbol', 'N/A') }} = <span class="usd-amount">{{ data.get('usdValue', 'N/A') }} USD</span><br>
                        {% endif %}
                        <strong>Date:</strong> <span class="date">{{ data.get('blockTimestamp', 'N/A') }}</span><br>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Mostrar los transfers_data si existen -->
            {% if transfers %}
                <h3>Transfers</h3>
                <ul>
                    {% for tx in transfers %}
                    <li>
                        <strong class="blockchain">Blockchain: {{ tx['chain'] }}</strong><br>
                        {% if 'transactionHash' in tx %}
                            <strong>Transaction Hash:</strong> {{ tx['transactionHash'] }}<br>
                            <strong>From:</strong> {{ tx['fromAddress']['address'] }}<br>
                            <strong>To:</strong> {{ tx['toAddress']['address'] }}<br>
                            <strong>Token:</strong> {{ tx['tokenName'] }}<br>
                            <strong>Amount:</strong> {{ tx['unitValue'] }} {{ tx['tokenSymbol'] }} = <span class="usd-amount">${{ tx['historicalUSD'] }}</span><br>
                        {% elif 'txid' in tx %}
                            <strong>Transaction Hash:</strong> {{ tx['txid'] }}<br>
                            <strong>From:</strong> {{ tx['fromAddress']['address'] }}<br>
                            <strong>To:</strong><br>
                            <p>
                                {% for address in tx['toAddresses'] %}
                                    {{ address['address']['address'] }}: {{ address['value'] }} BTC{% if not loop.last %}, {% endif %}<br>
                                {% endfor %}
                            </p>
                            <strong>Amount:</strong> {{ tx['unitValue'] }} BTC = <span class="usd-amount">${{ tx['historicalUSD'] }}</span><br>
                        {% endif %}
                        <strong>Date:</strong> <span class="date">{{ tx['blockTimestamp'] }}</span><br>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Columna derecha: Nuevo programa (Multiple Hashes) -->
        <div class="column right-column">
            <h2>Multiple Hashes Query</h2>
            <form action="{{ url_for('index') }}" method="POST" onsubmit="return submitWithApiKey(this);">
                <label for="hashes">Enter multiple hashes (one per line):</label>
                <textarea id="hashes" name="hashes" rows="10" placeholder="Enter each hash on a new line" required></textarea>
                <input type="submit" value="Submit">
            </form>

            {% if hashes_data %}
                <h3>Hashes introduced info</h3>
                <ul>
                {% for hash in hashes_data %}
                        {% for blockchain, data in hash.items() %}
                        <li>
                            <strong class="blockchain">Blockchain: {{ blockchain }}</strong><br>
                            {% if blockchain == 'bitcoin' %}
                                <strong>Transaction Hash:</strong> {{ data.get('txid', 'N/A') }}<br>
                                <strong>To:</strong> {{ data['outputs'][0]['address']['address'] if data.get('outputs') else 'N/A' }}<br>
                                <strong>Amount:</strong> {{ data.get('outputValue', 'N/A') }} BTC = <span class="usd-amount">{{ data.get('outputUSD', 'N/A') }} USD</span><br>
                            {% else %}
                                <strong>Transaction Hash:</strong> {{ data.get('hash', 'N/A') }}<br>
                                <strong>From:</strong> {{ data.get('fromAddress', 'N/A') }}<br>
                                <strong>To:</strong> {{ data.get('toAddress', 'N/A') }}<br>
                                <strong>Amount:</strong> {{ data.get('unitValue', 'N/A') }} {{ data.get('tokenSymbol', 'N/A') }} = <span class="usd-amount">{{ data.get('usdValue', 'N/A') }} USD</span><br>
                            {% endif %}
                            <strong>Date:</strong> <span class="date">{{ data.get('blockTimestamp', 'N/A') }}</span><br>
                        </li>
                        {% endfor %}
                {% endfor %}
                </ul>
            {% endif %}

            <!-- Mostrar resultados en la columna derecha -->
            <hr>
            {% if address_list %}
                <h3>Results for Multiple Hashes</h3>
                <ul>
                    {% for result in address_list %}
                        <li>
                            <strong>Repetitions:</strong> {{ result.repetitions }}<br>
                            <strong class="blockchain">Blockchain: {{ result.blockchain }}</strong><br>
                            <strong>To:</strong> {{ result.to }}<br>
                            <strong>Hash(es):</strong>
                            {% for hash in result.hashes %}
                                {{ hash }}<br>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </div>

    <script>
        // Pasar la API key desde el campo central a los formularios
        function submitWithApiKey(form) {
            const apiKey = document.getElementById('api_key').value;
            const apiKeyInput = document.createElement('input');
            apiKeyInput.setAttribute('type', 'hidden');
            apiKeyInput.setAttribute('name', 'api_key');
            apiKeyInput.setAttribute('value', apiKey);
            form.appendChild(apiKeyInput);
            return true;
        }
    </script>

    <script>
        // Verifica si el campo API Key está vacío antes de enviar el formulario
        function validateApiKey(form) {
            const apiKey = document.getElementById("api_key").value;
            if (!apiKey) {
                alert("Please enter your API Key.");
                return false; // Previene el envío del formulario si está vacío
            }
            return true; // Permite el envío si el campo está lleno
        }

        // Asocia la validación al evento submit de los formularios
        document.querySelectorAll("form").forEach(function(form) {
            form.addEventListener("submit", function(event) {
                if (!validateApiKey(form)) {
                    event.preventDefault(); // Cancela el envío si la validación falla
                }
            });
        });
    </script>

</body>
</html>