<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash Query Programs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Título principal -->
    <h1>Find destination addresses from FixedFload, SimpleSwap and ChangeNow</h1>

    <!-- Formulario para el campo de la API Key (se envía en ambos formularios) -->
    <div class="api-key-container">
        <label for="api_key">Enter the Arkham API key:</label><br>
        <input type="text" id="api_key" name="api_key" placeholder="Your API Key" required><br>
        <label for="percent_below">Enter % for max value searching transaction:</label><br>
        <input type="text" id="percent_below" name="percent_below" class="long-input" placeholder="1% means hash_introduced_USD_value * 1.01" required><br>
        <label for="percent_above">Enter % for min value searching transaction:</label><br>
        <input type="text" id="percent_above" name="percent_above" class="long-input" placeholder="5% means hash_introduced_USD_value * 0.95" required><br>
    </div>

    <!-- Contenedor de las dos columnas (Programa actual y nuevo programa) -->
    <div class="container">

        <!-- Columna izquierda: Programa actual (Single Hash) -->
        <div class="column left-column">
            <h2>Single Hash Query</h2>
            <form action="{{ url_for('index') }}" method="POST" onsubmit="return submitWithApiKey(this);">
                <label for="hash">Enter the hash:</label>
                <input type="text" id="hash" name="hash" placeholder="e.g., 0x123abc..." required>
                <input type="submit" value="Submit">
            </form>

            <!-- Mostrar resultados en la columna izquierda -->
            <hr>
            {% if hash_data %}
                <h3>Hash introduced info</h3>
                <ul>
                    <li>
                        <strong class="blockchain">Blockchain: {{ hash_data[0]['chain'] }}</strong><br>
                        <strong>Transaction Hash:</strong> {{ hash_data[0]['transactionHash'] }}<br>
                        <strong>From:</strong> {{ hash_data[0]["fromAddress"]["address"] }}<br>
                        <strong>To:</strong> {{ hash_data[0]["toAddress"]["address"] }}<br>
                        <strong>Amount:</strong> {{ hash_data[0]['unitValue'] }} {{ hash_data[0]['tokenSymbol'] }} = <span class="usd-amount">{{ hash_data[0]['historicalUSD'] }} USD</span><br>
                        <strong>Date:</strong> <span class="date">{{ hash_data[0]['blockTimestamp'] }}</span><br>
                    </li>
                </ul>
            {% endif %}

            <!-- Mostrar los transfers_data si existen -->
            {% if transfers %}
                <h3>Transfers</h3>
                <ul>
                    {% for tx in transfers %}
                    <li>
                        <strong class="blockchain">Blockchain: {{ tx['chain'] }}</strong><br>
                        {% if 'transactionHash' in tx %}
                            <strong>Transaction Hash:</strong> {{ tx['transactionHash'] }}<br>
                            <strong>From:</strong> {{ tx['fromAddress']['address'] }}<br>
                            <strong>To:</strong> {{ tx['toAddress']['address'] }}<br>
                            <strong>Token:</strong> {{ tx['tokenName'] }}<br>
                            <strong>Amount:</strong> {{ tx['unitValue'] }} {{ tx['tokenSymbol'] }} = <span class="usd-amount">${{ tx['historicalUSD'] }}</span><br>
                        {% elif 'txid' in tx %}
                            <strong>Transaction Hash:</strong> {{ tx['txid'] }}<br>
                            <strong>From:</strong> {{ tx['fromAddress']['address'] }}<br>
                            <strong>To:</strong><br>
                            <p>
                                {% for address in tx['toAddresses'] %}
                                    {{ address['address']['address'] }}: {{ address['value'] }} BTC{% if not loop.last %}, {% endif %}<br>
                                {% endfor %}
                            </p>
                            <strong>Amount:</strong> {{ tx['unitValue'] }} BTC = <span class="usd-amount">${{ tx['historicalUSD'] }}</span><br>
                        {% endif %}
                        <strong>Date:</strong> <span class="date">{{ tx['blockTimestamp'] }}</span><br>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Columna derecha: Nuevo programa (Multiple Hashes) -->
        <div class="column right-column">
            <h2>Multiple Hashes Query</h2>
            <form action="{{ url_for('index') }}" method="POST" onsubmit="return submitWithApiKey(this);">
                <label for="hashes">Enter multiple hashes (one per line):</label>
                <textarea id="hashes" name="hashes" rows="10" placeholder="Enter each hash on a new line" required></textarea>
                <input type="submit" value="Submit">
            </form>

            {% if hashes_data %}
                <h3>Hashes introduced info</h3>
                <ul>
                {% for hash in hashes_data %}
                    <li>
                        <strong class="blockchain">Blockchain: {{ hash[0]['chain'] }}</strong><br>
                        <strong>Transaction Hash:</strong> {{ hash[0]['transactionHash'] }}<br>
                        <strong>From:</strong> {{ hash[0]["fromAddress"]["address"] }}<br>
                        <strong>To:</strong> {{ hash[0]["toAddress"]["address"] }}<br>
                        <strong>Amount:</strong> {{ hash[0]['unitValue'] }} {{ hash[0]['tokenSymbol'] }} = <span class="usd-amount">{{ hash[0]['historicalUSD'] }} USD</span><br>
                        <strong>Date:</strong> <span class="date">{{ hash[0]['blockTimestamp'] }}</span><br>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

            <!-- Mostrar resultados en la columna derecha -->
            <hr>
            {% if address_list %}
                <h3>Results for Multiple Hashes</h3>
                <ul>
                    {% for result in address_list %}
                        <li>
                            <strong>Repetitions:</strong> {{ result.repetitions }}<br>
                            <strong class="blockchain">Blockchain: {{ result.blockchain }}</strong><br>
                            <strong>To:</strong> {{ result.to }}<br>
                            <strong>Transaction(s):</strong><br>
                            {% for hash in result.hashes %}
                                <ul><li>
                                    <strong>Hash:</strong><br> {{ hash['hash'] }}<br>
                                    <strong>Amount:</strong> <span class="usd-amount">{{ hash['historicalUSD'] }} USD</span><br>
                                    <strong>Date:</strong> <span class="date">{{ hash['blockTimestamp'] }}</span><br>
                                </li></ul>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </div>

    <script>
        // Pasar la API key desde el campo central a los formularios
        function submitWithApiKey(form) {
            const apiKey = document.getElementById('api_key').value;
            const apiKeyInput = document.createElement('input');
            apiKeyInput.setAttribute('type', 'hidden');
            apiKeyInput.setAttribute('name', 'api_key');
            apiKeyInput.setAttribute('value', apiKey);
            form.appendChild(apiKeyInput);

            const percent_above = document.getElementById('percent_above').value;
            const percent_aboveInput = document.createElement('input');
            percent_aboveInput.setAttribute('type', 'hidden');
            percent_aboveInput.setAttribute('name', 'percent_above');
            percent_aboveInput.setAttribute('value', percent_above);
            form.appendChild(percent_aboveInput);

            const percent_below = document.getElementById('percent_below').value;
            const percent_belowInput = document.createElement('input');
            percent_belowInput.setAttribute('type', 'hidden');
            percent_belowInput.setAttribute('name', 'percent_below');
            percent_belowInput.setAttribute('value', percent_below);
            form.appendChild(percent_belowInput);
            return true;
        }
    </script>

    <script>
        // Verifica si el campo API Key está vacío antes de enviar el formulario
        function validateApiKey(form) {
            const apiKey = document.getElementById("api_key").value;
            if (!apiKey) {
                alert("Please enter your API Key.");
                return false; // Previene el envío del formulario si está vacío
            }
            return true; // Permite el envío si el campo está lleno
        }

        // Asocia la validación al evento submit de los formularios
        document.querySelectorAll("form").forEach(function(form) {
            form.addEventListener("submit", function(event) {
                if (!validateApiKey(form)) {
                    event.preventDefault(); // Cancela el envío si la validación falla
                }
            });
        });
    </script>

     <!-- Mostrar ventana emergente si hay error -->
     {% if error_message %}
     <script>
         alert("Error: {{ error_display }}");
         console.error("Error: {{ error_message }}");
     </script>
     {% endif %}

</body>
</html>